<div style="margin-top:30px;" class="row">

  <div class="col-sm-8">
    <div class="widget">
      <div class="widget-header">
        <h2><i class="fa fa-bar-chart"></i> <strong>Notice Board</strong> </h2>
      </div>

      <div class="tab-content">


        <!-- Tab timeline -->
        <div class="tab-pane animated active fadeInRight" id="my-timeline">
          <div class="user-profile-content">
            <div style="border:1px solid #EDEDED; border-radius:3px; padding:10px;" class="widget">

              <ul style="margin:0" id="demo5" class="nav nav-tabs nav-simple">
                <li class="active">
                  <a href="#demo5-home" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Create Notice</a>
                </li>

              </ul>

              <div class="tab-content">
                <div class="tab-pane fade active in the-timeline" id="demo5-home">
                  <%= form_for @notice,:html => {:class => 'post-to-timeline'} do |f| %>
                      <!--<form role="form" class="post-to-timeline">--><br>
                        <%= f.text_field :title, :class=>"form-control", :placeholder=>'Notice title...' %><br><br>
                        <%= f.text_area :body, :class=>"form-control", :placeholder=>'Notice Post to timeline...' %>
                        <!--<textarea class="form-control"  placeholder="Notice Post to timeline..."></textarea>-->
                        <div  style="margin-bottom:-40px; margin-left:2px; margin-right:2px; padding-top:10px;"  class="row">
                          <div  class="col-sm-6">
                            <%= f.label 'Image Upload', :class=>'' %>
                            <%= f.file_field :image, :class=>'btn btn-info btn-file' %>
                          </div>
                          <div  class="col-sm-6">
                            <%= f.label 'File Upload(pdf, doc, xls and image)', :class=>'' %>
                            <%= f.file_field :file, :class=>'btn btn-info btn-file' %>
                          </div>
                        </div>
                      <div   class='row'>
                        <div style=" margin-left:17px; margin-top:25px; "  class="col-sm-6">
                          <%= f.submit :class=>'btn btn-blue-3' %>
                        </div>

                      </div>
                      <!--</form>-->
                  <% end %>

                </div> <!-- / .tab-pane -->


              </div> <!-- / .tab-content -->
            </div><!-- / total .tab-content -->

            <!-- Begin timeline -->
            <div class="the-timeline">

              <ul>
                <% if @notices.any? %>
                <% @notices.each do |notice| %>
                        <li>
                          <h4>
                            <%= notice.title %>
                          </h4>
                          <h6>
                            <%= notice.created_at.strftime('%d %B, %y') %> <span>|  BY CBHS </span>
                            <%= link_to notice_path(notice), :class=>'label label-danger pull-right', method: :delete,data: { confirm: 'Are you sure?' } do %>
                                <i class="fa fa-close"></i>  Delete
                            <% end %>
                            <%= link_to edit_notice_path(notice), :class=>'label label-info pull-right',:data => { :no_turbolink => true } do %>
                                <i class="fa fa-edit"></i>  Edit
                            <% end %>
                          </h6>

                          <p>
                            <%= notice.body.html_safe if notice.body %>
                          </p><br>
                          <%= image_tag(notice.image) if notice.image %>
                          <%  if notice.file %>
                              <h4>
                                <i class="fa fa-download"></i>
                                <a href="<%= notice.file %>" target="_blank"> Download Notice Attachment</a>
                              </h4>
                          <% end %>

                        </li>
                <% end %>
                <% end %>

              </ul>
            </div><!-- End div .the-timeline -->
            <!-- End timeline -->
          </div><!-- End div .user-profile-content -->
        </div><!-- End div .tab-pane -->

      </div><!-- End div .tab-content -->
    </div><!-- End div .box-info -->
  </div>
  <%= render 'layouts/right_side_student_count_class_wise_admin' %>
</div>
