<div class="container" style="margin-top: -145px">
  <div class="full-content-center">
    <p class="text-center"><a href="#"><img width="178" src="/images/chbs-logo.jpg" alt="Logo"></a></p>
    <div class="login-wrap animated flipInX">
      <div class="login-block">
        <img src="/images/user.jpg" width="56" class="img-circle not-logged-avatar">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group login-input">
              <i class="fa fa-user overlay"></i>
              <%= f.email_field :email, :class=>'form-control text-input',:placeholder=>'Email', autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <div class="form-group login-input">
              <i class="fa fa-lock overlay"></i>
              <%= f.password_field :password,:class=>'form-control text-input', :placeholder=>'Password', autocomplete: "off" %>
            </div>
            <%= f.label :password_confirmation %> <br />
            <div class="form-group login-input">
              <i class="fa fa-lock overlay"></i>
              <%= f.password_field :password_confirmation,:class=>'form-control text-input', :placeholder=>'Confirm Password', autocomplete: "off" %>
            </div>

            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <div class="form-group login-input">
              <i class="fa fa-lock overlay"></i>
              <%= f.password_field :current_password,:class=>'form-control text-input', :placeholder=>'Current Password', autocomplete: "off" %>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <%= f.submit 'Update', :class=>"btn btn-success btn-block" %>
              </div>
            </div>
        <% end %>
      </div>
      <%= link_to "Back", :back %>
    </div>

  </div>
</div>