<% if @students.any? %>
    <% @students.each do |student|  %>
        <div class="col-sm-6">
          <div class="widget border-student">
            <div class="widget-content">
              <div class="student-list">
                <%= image_tag(student.profile_photo, :class => 'img-responsive') if student.profile_photo %>
              </div>
              <div class="student-details">
                <small class="text-left">
                  <h4>
                    <%= link_to student_path(student),:data => { :no_turbolink => true } do %>
                        <b> <%= student.name %></b>
                    <% end %>
                  </h4>
                  <p><b> Class: <%= student.level.name %> , Roll no : <%= student.roll_no %> </b></p>
                  <p>
                    <%= link_to edit_student_path(student), :class=>'btn btn-info',:data => { :no_turbolink => true } do %>
                        <i class='fa fa-align-left fa-edit'></i> edit
                    <% end %>
                    <%= link_to student_path(student), :class=>'btn btn-info', method: :delete,data: { confirm: 'Are you sure?' } do %>
                        <i class='fa fa-align-right fa-crop'></i> delete
                    <% end %>
                  </p>
                </small>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="col-sm-12 text-center">
      <h3>No record found</h3>
    </div>
<% end %>