<div class="row">


  <div class="col-sm-8">
    <div class="person_profile">
      <div  class="col-sm-3 profile-picture">
        <% if @student.profile_photo %>
            <%= image_tag(@student.profile_photo) %>
        <% else %>
            <img src="/images/user.jpg">
        <% end %>

      </div>
      <div  class="col-sm-6 profile-name">
        <h3 class="text-left"><%= @student.name %></h3>
        <h4 class="text-left">class : <%= @student.level.name %> ,  roll : <%= @student.roll_no %></h4>

      </div>
      <div  class="col-sm-3">
        <%= link_to edit_student_path(@student),:data => { :no_turbolink => true } do %>
            <div class="edit_profile">
              <i class="fa fa-pencil"></i>
            </div>
        <% end %>
      </div>
    </div>
    <div class="widget widget-tabbed">

      <!-- Tab about -->
      <div class="tab-pane animated fadeInRight" id="about">
        <div class="user-profile-content">


          <div class="row">


            <div class="col-sm-6 profile_dl_tl">

              <h4>Student info</h4>
              <div class="profile_dl_ct">
                <div class="p_left">Name</div>
                <div class="p_right"><%= @student.name %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Fathers name</div>
                <div class="p_right"><%= @student.father_name %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Mothers name</div>
                <div class="p_right"><%= @student.mother_name %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Address</div>
                <div class="p_right"><%= @student.address %> </div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Class</div>
                <div class="p_right"><%= @student.level.name %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Roll No</div>
                <div class="p_right"><%= @student.roll_no %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Gender</div>
                <div class="p_right"><%= @student.gender %> </div>
              </div>


            </div>
            <div  class="col-sm-5 profile_gd">
              <h4>Guardian Info</h4>
              <div class="profile_dl_right">
                <div class="pp_left">Name</div>
                <div class="pp_right"><%= @student.guardian_name %> </div>
              </div>
              <div class="profile_dl_right">
                <div class="pp_left">Phone</div>
                <div class="pp_right"><%= @student.guardian_contact_no %></div>
              </div>
              <div class="profile_dl_right">
                <div class="pp_left">Address</div>
                <div class="pp_right"><%= @student.address %></div>
              </div>

            </div>
          </div><!-- End div .row -->
        </div><!-- End div .user-profile-content -->
      </div><!-- End div .tab-pane -->
      <!-- End Tab about -->



      <!-- End Tab user messages -->
    </div><!-- End div .tab-content -->
  </div><!-- End div .box-info -->
</div>
</div>