<div class="row">


  <div class="col-sm-8">
    <div class="person_profile">
      <div  class="col-sm-3 profile-picture">
        <% if @committee.profile_photo %>
            <%= image_tag(@committee.profile_photo) %>
        <% else %>
            <img src="/images/user.jpg">
        <% end %>

      </div>
      <div  class="col-sm-6 profile-name">
        <h3 class="text-left"><%= @committee.name %></h3>
        <h4 class="text-left">Designation : <%= @committee.designation %> </h4>

      </div>
      <div  class="col-sm-3">
        <%= link_to edit_committee_path(@committee),:data => { :no_turbolink => true } do %>
            <div class="edit_profile">
              <i class="fa fa-pencil"></i>
            </div>
        <% end %>
      </div>
    </div>
    <div class="widget widget-tabbed">

      <!-- Tab about -->
      <div class="tab-pane animated fadeInRight" id="about">
        <div class="user-profile-content">


          <div class="row">


            <div class="col-sm-6 profile_dl_tl">

              <h4>Committee Member's info</h4>
              <div class="profile_dl_ct">
                <div class="p_left">Name</div>
                <div class="p_right"><%= @committee.name %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Designation</div>
                <div class="p_right"><%= @committee.designation %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Address</div>
                <div class="p_right"><%= @committee.address %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Email Address</div>
                <div class="p_right"><%= @committee.email %></div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Contact No</div>
                <div class="p_right"><%= @committee.phone %> </div>
              </div>
              <div class="profile_dl_ct">
                <div class="p_left">Gender</div>
                <div class="p_right"><%= @committee.gender %> </div>
              </div>


            </div>
            <div  class="col-sm-5 profile_gd">
              <h4>Important Info</h4>
              <div class="profile_dl_right">
                <div class="pp_left">Designation</div>
                <div class="pp_right"><%= @committee.designation %> </div>
              </div>
              <% if @committee.message %>
                  <div class="profile_dl_right">
                    <div class="pp_left">Message</div>
                    <div class="pp_right"><%= @committee.message %></div>
                  </div>
              <% end %>

            </div>
          </div><!-- End div .row -->
        </div><!-- End div .user-profile-content -->
      </div><!-- End div .tab-pane -->
      <!-- End Tab about -->



      <!-- End Tab user messages -->
    </div><!-- End div .tab-content -->
  </div><!-- End div .box-info -->
</div>
</div>