<%= form_for @teacher do |f| %>
    <div class="form-group">
      <label for="exampleInputEmail1">Teacher Name</label>
      <%= f.text_field :name, :class=>'form-control',:placeholder=>"Teacher name" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Address</label>
      <%= f.text_field :address, :class=>'form-control',:placeholder=>"Address" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <%= f.text_field :email, :class=>'form-control',:placeholder=>"Email Address" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Contact No</label>
      <%= f.text_field :phone, :class=>'form-control',:placeholder=>"Phone Number" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Designation</label>
      <%= f.text_field :designation, :class=>'form-control',:placeholder=>"Designation" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Qualification</label>
      <%= f.text_field :qualification, :class=>'form-control',:placeholder=>"Qualification" %>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Message</label>
      <%= f.text_area :message, :class=>'form-control textaria_for_teacher_and_committee',:placeholder=>"Message" %>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Gender</label>
      <div class="col-sm-10">
        <div class="radio iradio">
          <label>
            <%= f.radio_button :gender,'male',:checked=>true %>
            <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>-->
            Male
          </label>
        </div>
        <div class="radio iradio">
          <label>
            <%= f.radio_button :gender,'female' %>
            <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
            Female
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Date of Birth</label>
      <%= f.date_field :birth_day, :class=>'form-control',:placeholder=>"Guardian Contact No" %>
    </div>

    <div class="form-group">
      <%= f.file_field :profile_photo, :class=>'btn btn-default' %>
      <!--<input type="file" class="btn btn-default" title="Search for a file to add">-->
      <p class="help-block">Profile Photo fo Teacher</p>
    </div>
    <%= f.submit 'Submit', :class=>'btn btn-default' %>
<% end %>