<div id="main">
  <!--breadcrumb-section starts-->

  <!--breadcrumb-section ends-->
  <!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section  id="primary" class="with-sidebar">
      <!--dt-sc-one-half starts-->
      <div class="column dt-sc-one-column">
        <div class="notice_banner">
          <h2>News & Events</h2>

        </div>
        <% if @event  %>
            <div class="notice_show_web">
              <h4><%= @event.title %></h4>
              <h6><%= @event.created_at.strftime('%d %B, %y') %> | BY CBHS</h6>
              <%= image_tag(@event.image) if @event.image %>
              <p>
                <%= @event.body.html_safe if @event.body %>
              </p>
            </div>
        <% end %>


      </div>
      <!--dt-sc-one-half ends-->
    </section>
    <!--primary ends-->

    <!--secondary starts-->
    <%= render 'layouts/right_side_user_layout' %>
    <!--secondary ends-->

  </div>
  <!--container ends-->
</div>