<div id="main">
  <!--breadcrumb-section starts-->

  <!--breadcrumb-section ends-->
  <!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section  id="primary" class="with-sidebar">
      <!--dt-sc-one-half starts-->
      <div class="column dt-sc-one-column">
        <div class="notice_banner">
          <h2>

            Notice Board</h2>

        </div>
        <% if @notices.any?  %>
            <% @notices.each do |notice| %>
                <div class="notice_show_web">
                  <h4><%= link_to notice.title, notice_details_schools_path(notice),:data => { :no_turbolink => true } %></h4>
                  <h6><%= notice.created_at.strftime('%d %B, %y') %> | BY CBHS</h6>
                  <% if notice.image %>
                      <%= link_to notice_details_schools_path(notice),:data => { :no_turbolink => true } do %>
                          <%= image_tag(notice.image) %>
                      <% end %>
                  <% end %>
                  <p>
                    <%= link_to notice.body.to_s[0..200]+'...', notice_details_schools_path(notice),:data => { :no_turbolink => true } if notice.body %>
                  </p>
                  <%  if notice.file %>
                      <h3>
                        <i class="fa fa-download"></i>
                        <a href="<%= notice.file %>" target="_blank"> Download Notice Attachment</a>
                      </h3>
                  <% end %>
                </div>
            <% end %>
        <% end %>
        <div class="pagination_container_div">
          <%= paginate @notices %>
        </div>


      </div>
      <!--dt-sc-one-half ends-->
    </section>
    <!--primary ends-->

    <!--secondary starts-->
<%= render 'layouts/right_side_user_layout' %>
    <!--secondary ends-->

  </div>
  <!--container ends-->
</div>