<div id="main">
  <!--breadcrumb-section starts-->

  <!--breadcrumb-section ends-->
  <!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section  id="primary" class="with-sidebar">
      <!--dt-sc-one-half starts-->
      <div class="column dt-sc-one-column">
        <div class="notice_banner">
          <h2>

            Academic Results </h2>

        </div>
        <% if @results.any? %>
            <div class="widget invoice">
              <div class="widget-content">
                <div class="table-responsive">

                  <table class="table table-condensed ">
                    <thead>
                    <tr>
                      <th>Date</th>
                      <th>Class</th>
                      <th>Results Title</th>
                      <th>Details</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% @results.each do |result| %>
                        <tr>
                          <td>
                            <%= result.created_at.strftime('%d %B, %y') %>
                          </td>
                          <td>
                            <%= result.level.name %>
                          </td>
                          <td>
                            <%= link_to result.title, result_details_schools_path(result), :data => { :no_turbolink => true } %>
                          </td>


                          <td>
                            <div class="btn-group btn-group-xs">
                              <%= link_to result_details_schools_path(result), :class=>'btn btn-info',:title=>'View', :data => { :no_turbolink => true } do%>
                                  <i class="fa fa-expand"></i> Details
                              <% end %>
                            </div>
                          </td>
                        </tr>
                    <% end %>




                    </tbody>

                  </table>
                </div>
              </div>
            </div>

        <% end %>
        <div class="pagination_container_div">
          <%= paginate @results %>
        </div>


      </div>
      <!--dt-sc-one-half ends-->
    </section>
    <!--primary ends-->

    <!--secondary starts-->
    <%= render 'layouts/right_side_user_layout' %>
    <!--secondary ends-->

  </div>
  <!--container ends-->
</div>