<div class="row">
<div class="col-lg-8 portlets">
  <div class="widget">
    <div class="widget-header">
      <h2><i class="fa fa-bar-chart"></i> <strong>Photo Galleries</strong> </h2>
    </div>

    <div class="widget-content">
      <!--end of bill to--->
      <div class="table-responsive text-left">
        <h4 class="text-center padding-top">Create a photo Gallery</h4>
        <div  class="data-table-toolbar">
          <div class="row">
            <div class="col-md-12">
              <%= form_for @gallery do |f| %>
                  <div class="form-group padding">
                    <%= f.text_field :title , :class=>'form-control', placeholder: 'Gallery title...' %>
                    <!--<input type="text" class="form-control" placeholder="position name of academy..">-->
                  </div>
                  <div class="form-group padding">
                    <%= f.text_area :body , :class=>'form-control ckeditor', placeholder: 'Gallery Description...' %>
                    <!--<input type="text" class="form-control" placeholder="position name of academy..">-->
                  </div>
                  <div class="form-group padding">
                    <%= f.file_field :files, multiple: true, :class=>'btn btn-info btn-file' %>
                    <!--<input type="file" name="attachment" class="btn btn-info btn-file" title="Search for a file to add">-->
                    <p><h6>(670*480)</h6></p>
                  </div>

                  <div style="margin-right:100%;" class="form-group">

                    <%= f.submit  :class=>'btn btn-blue-3' %>
                    <!--<button type="submit" class="btn btn-blue-3"><i class="fa fa-check"></i> Submit</button>-->
                  </div>
              <% end %>


            </div>


          </div>
        </div>
      </div><!--end of table-responsive --->


      <% if @galleries.any? %>
          <div class="widget invoice">
            <div class="widget-content">
              <div class="table-responsive">

                <table class="table table-condensed ">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Gallery Name</th>
                    <th>Images</th>
                    <th>Edit / Delete</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @galleries.each do |gallery| %>
                      <tr>
                        <td>
                          <%= gallery.created_at.strftime('%d %B, %y') %>
                        </td>
                        <td>
                          <%= link_to gallery.title, gallery_path(gallery), :data => { :no_turbolink => true } %>
                        </td>

                        <td>
                          <%= link_to gallery_path(gallery), :data => { :no_turbolink => true } do%>
                              <img width="50" height="30" src="/images/photo_gallery_default.png">
                          <% end %>
                        </td>
                        <td>
                          <div class="btn-group btn-group-xs">
                            <%= link_to edit_gallery_path(gallery), :class=>'btn btn-orange-4',:title=>'Edit', :data => { :no_turbolink => true } do%>
                                <i class="fa fa-edit"></i>
                            <% end %>
                            <%= link_to gallery_path(gallery), :class=>'btn btn-red-1',:title=>'Delete',:method=>'delete', data: { confirm: 'Are you sure?' } do%>
                                <i class="fa fa-close"></i>
                            <% end %>
                            <!--<a data-toggle="tooltip" title="Delete" class="btn btn-red-1"><i class="fa fa-close"></i></a>-->
                            <!--<a data-toggle="tooltip" title="Edit" class="btn btn-orange-4"><i class="fa fa-edit"></i></a>-->
                          </div>
                        </td>
                      </tr>
                  <% end %>




                  </tbody>

                </table>
              </div>
            </div>
          </div>

    <% end %>

    </div>
  </div>
</div>

  <%= render 'layouts/right_side_student_count_class_wise_admin' %>
</div>
