<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">

    <div class="clearfix"></div>
    <!--- Profile -->
    <div class="profile-info">
      <div class="col-xs-4">
        <a href="profile.html" class="rounded-image profile-image"><img src="/images/user.jpg"></a>
      </div>
      <div class="col-xs-8">
        <div class="profile-text">Welcome <b>Asad</b></div>
        <div class="profile-buttons">
          <%= link_to edit_user_registration_path, :class => 'navbar-link', :title=>'Edit Profile',:data => { :no_turbolink => true } do %>
              <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link',:title=>"Sign Out" do  %>
              <i class="fa fa-power-off text-red-1"></i>
          <% end %>
        </div>
      </div>
    </div>
    <!--- Divider -->
    <div class="clearfix"></div>
    <hr class="divider" />
    <div class="clearfix"></div>
    <!--- Divider -->
    <div id="sidebar-menu">
      <ul>
        <li class='has_sub'>
            <%= link_to galleries_path, :data => { :no_turbolink => true } do %>
            <i class='fa fa-photo'></i><span>Galleries</span> <span class="pull-right"></span>
            <% end %>

        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="portlets">
      <div id="chat_groups" class="widget transparent nomargin">
        <h2>Information</h2>
        <div class="widget-content">
          <ul class="list-unstyled">
            <li>
              <%= link_to students_path,:data => { :no_turbolink => true } do %>
                  <i class="fa fa-circle-o text-red-1"></i> Student
              <% end %>
            </li>
            <li>
              <%= link_to teachers_path,:data => { :no_turbolink => true } do %>
                  <i class="fa fa-circle-o text-blue-1"></i> Teacher
              <% end %>
            </li>
            <li>
              <%= link_to committees_path,:data => { :no_turbolink => true } do %>
                  <i class="fa fa-circle-o text-green-1"></i> Committee
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div id="recent_tickets" class="widget transparent nomargin">
        <h2>Recent Tickets</h2>
        <div class="widget-content">
          <ul class="list-unstyled">
            <li>
              <a href="javascript:;">My wordpress blog is broken <span>I was trying to save my page and...</span></a>
            </li>
            <li>
              <a href="javascript:;">Server down, need help!<span>My server is not responding for the last...</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div><br><br><br>
  </div>
  <div class="left-footer">
    <div class="progress progress-xs">
      <div class="progress-bar bg-green-1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="progress-precentage">80%</span>
      </div>

      <a data-toggle="tooltip" title="See task progress" class="btn btn-default md-trigger" data-modal="task-progress"><i class="fa fa-inbox"></i></a>
    </div>
  </div>
</div>