<section id="secondary">

  <aside class=" widget_categories vedio_right_side">
    <% if Video.all.any? %>
        <div class="first_vedio">
          <%= Video.last.url.html_safe if Video.last.url %>
          <h4>
            <%= link_to Video.last.title, video_gallery_schools_path, :data=>{ :no_turbolink=> true} %>
          </h4>
        </div>
        <% Video.last(3).reverse.each do |video| %>
           <% if video!=Video.last %>
                <li>
                  <i class="fa fa-video-camera"></i>
                  <%= link_to video.title, video_gallery_schools_path, :data=>{ :no_turbolink=> true} %>
                </li>

           <% end %>
        <% end %>
    <% end %>


  </aside>
  <aside class=" widget_categories notice_right_side">
    <h2><i class="fa fa-microphone"></i> Recent Notice</h2>
    <% if Notice.all.any? %>
    <% Notice.last(5).reverse.each do |notice| %>
            <li>
              <i class="fa fa-angle-right"></i>
              <%= link_to notice.title, notice_details_schools_path(notice), :data=>{ :no_turbolink=> true} %>
            </li>


  <% end %>
    <% end %>


  </aside>
  <aside class=" widget_categories slider_right_side">
    <% if Gallery.all.any? %>
        <% if Gallery.last.photos.any? %>
            <div class="portfolio-slider-container">
              <ul class="portfolio-slider">
                <% Gallery.last.photos.each do |photo| %>
                    <li>
                      <%= image_tag(photo.image) %>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <% end %>

  </aside>
  <aside class=" widget_categories useful_link">
    <h2><i class="fa fa-microphone"></i> Usefull link</h2>
    <% if UsefulLink.all.any? %>
        <% UsefulLink.last(5).reverse.each do |useful_link| %>
            <li>
              <i class="fa fa-angle-right"></i>
              <a href="<%= useful_link.link %>" target="_blank"> <%=  useful_link.title %></a>

            </li>
        <% end %>
    <% end %>

  </aside>
  <aside class=" widget_categories facebook_like">
    <img src="/images/like.jpg">
  </aside>


</section>