<header>
  <div class="container">
    <div class="logo">
      <a href="index.html" title="Kids Life"><img src="/images/logo.png" alt="Kids Life" title="Kids Life"></a>
    </div>

    <div class="contact-details">
      <p class="mail">
        <span class="fa fa-envelope"></span>
        <a href="#">school113495@gmail.com</a>
        <span class="fa fa-lock"></span>
        <a href="#"> login</a>

      </p>
      <p class="phone-no">
        <span class="fa fa-phone"></span>
        <i>+8801714641332</i>

      </p>
    </div>
  </div>
  <!--menu-container starts-->
  <div id="menu-container">
    <div class="container">
      <!--nav starts-->
      <nav id="main-menu">
        <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
        <ul id="menu-main-menu" class="menu">
          <li class="current_page_item menu-item-simple-parent menu-item-depth-0 "> <a href="index.html"><i class="fa fa-home"></i> Home </a>

          </li>
          <li class="menu-item-simple-parent menu-item-depth-0"><a href="#" title="">About Us  <i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li><a href="about.html">The Chairman</a></li>
              <li><a href="about.html">The Principan</a></li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>
          <li class="menu-item-simple-parent menu-item-depth-0"><a href="#" title="">Academic  <i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li>
                <%= link_to 'Students', students_schools_path ,:data => { :no_turbolink => true } %>
              </li>
              <li>
                <%= link_to 'Teachers', teachers_schools_path ,:data => { :no_turbolink => true } %>
              </li>
              <li>
                <%= link_to 'Committee', committees_schools_path ,:data => { :no_turbolink => true } %>
              </li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="about.html">FAQs for Parents</a></li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>

          <li class="menu-item-simple-parent menu-item-depth-0 "><a href="#" title="">Students <i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li>
                <%= link_to 'Results', results_schools_path ,:data => { :no_turbolink => true } %>
              </li>
              <li>
                <%= link_to 'Academic Routine', routine_schools_path ,:data => { :no_turbolink => true } %>
              </li>

            </ul>
            <a class="dt-menu-expand">+</a>
          </li>

          <li class="menu-item-simple-parent menu-item-depth-0"><a title=""> Notice <i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li>
                <%= link_to 'Academic Notice', notices_schools_path,:data => { :no_turbolink => true } %>
              </li>
              <li>
                <%= link_to 'News & Event', events_schools_path ,:data => { :no_turbolink => true } %>
              </li>
              <li>
                <%= link_to 'Useful Links', useful_links_schools_path ,:data => { :no_turbolink => true } %>
              </li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>

          <li class="menu-item-simple-parent menu-item-depth-0"><a href="#" title="">Admission <i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li><a href="admission.html">Admission Information</a></li>
              <li><a href="admission.html">Admission Result</a>
              </li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>
          <li class="menu-item-simple-parent menu-item-depth-0"><a href="#" title="">Media Gallery <i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
              <li>
                <%= link_to 'Photo Gallery', photo_galleries_schools_path ,:data => { :no_turbolink => true } %>
              </li>
              <li>
                <%= link_to 'Video Gallery', video_gallery_schools_path ,:data => { :no_turbolink => true } %>
              </li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>


          </li>
          <li><a href="contact.html" title="">Contact us</a></li>
        </ul>
      </nav>
      <!--nav ends-->

      <ul class="dt-sc-social-icons">
        <li><a href="#" title="Facebook" class="dt-sc-tooltip-top facebook"><span class="fa fa-facebook"></span></a></li>
        <li><a href="#" title="Youtube" class="dt-sc-tooltip-top youtube"><span class="fa fa-youtube"></span></a></li>
        <li><a href="#" title="Twitter" class="dt-sc-tooltip-top twitter"><span class="fa fa-twitter"></span></a></li>
        <li><a href="#" title="Google Plus" class="dt-sc-tooltip-top gplus"><span class="fa fa-google-plus"></span></a></li>
      </ul>
    </div>
  </div>
  <!--menu-container ends-->
</header>