<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>char bhoira high school</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>

  <title>Schoolapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

<!-- Top Bar Start -->
<%= render 'layouts/header_admin_layout' %>
<!-- Top Bar End -->
<!-- Left Sidebar Start -->
<%= render 'layouts/left_side_bar_admin_layout' %>
<!-- Left Sidebar End -->
<!-- Start right content -->

<div class="content-page">

<div class="content">
<!--<div>-->
  <!--<div class="alert_and_notice_display">-->
    <!---->
  <!--</div>-->
<!--</div>-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
<!-- Footer Start -->
<%= render 'layouts/footer_admin_layout' %>
<!-- Footer End -->
</div>
<!-- ============================================================== -->
<!-- End content here -->
<!-- ============================================================== -->

</div>
<!-- End right content -->

</div>

</body>
<script>
    var resizefunc = [];
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/detect.js"></script>
<script src="/js/jquery.animateNumbers.js"></script>
<script src="/js/ios7.switch.js"></script>
<script src="/js/fastclick.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/jquery-sparkline.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/modalEffects.js"></script>
<script src="/js/sortable.min.js"></script>
<script src="/js/bootstrap.file-input.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/icheck.min.js"></script>

<!-- Demo Specific JS Libraries -->
<script src="/js/prettify.js"></script>

<script src="/js/init.js"></script>
<!-- Page Specific JS Libraries -->
<script src="/js/d3.v3.js"></script>
<script src="/js/rickshaw.min.js"></script>
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<script src="/js/jquery.knob.js"></script>
<script src="/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="/js/clock.js"></script>
<script src="/js/jquery.easypiechart.min.js"></script>
<script src="/js/jquery.simpleWeather-2.6.min.js"></script>
<script src="/js/bootstrap-editable.min.js"></script>
<script src="/js/bic_calendar.min.js"></script>
<script src="/js/calculator.js"></script>
<script src="/js/apps/todo.js"></script>
<script src="/js/apps/notes.js"></script>
<script src="/js/index2.js"></script>
</html>